<!doctype html>
<html>
<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<title>PhatChat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">	
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<h1>PhatChat</h1>
			
			<form class="form" action="/login" method="POST">
				<input type="text" placeholder="Username" name="name">
				<button type="submit" id="login-button">Start Chatting!</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

</body>
</html>